{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">
    <span class="article-duration">{{ .WordCount }} words ({{ .ReadingTime }} min)</span>

    <h1 class="article-title">{{ .Title }}</h1>

    <span class="article-author">
        {{ .Params.author }}
    </span>

    <span class="article-date">
        <em>{{ .Date.Format "Monday Jan 2, 2006" }}</em> <br>
    </span>

    <div class="article-content">
      {{ .Content }}
    </div>
  </article>

  {{ partial "disqus.html" .}}

</main>

{{ partial "footer.html" . }}
